<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Cushion</title>
    <meta name="description" content="Website for smart cushion" />
    <meta name="author" content="Hyogi" />
    <link rel="icon" type="image/png" href="../../../imgs/favicon.png" />
    <script
      src="https://kit.fontawesome.com/d8c2b8b7e5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    "아아"
  </body>
</html>
